{% extends "template.html" %}
{% block content %}
    <div class="container">
        <div class="left col-lg-7 col-md-7 col-sm-12">
            <div class="subtitle">
                <h2 class="categories-list">Sign In</h2>

                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=32) }}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}
                    </p>
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit() }}</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
