<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Web Categories Annotator</title>

    {# Boostrap #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {# Local stylesheets #}
    <link rel="stylesheet" href="http://trac.webkit.org/export/262517/webkit/trunk/Source/WebCore/css/html.css">
    <link rel="stylesheet" href="../static/css/template.css">
    <link rel="stylesheet" href="../static/css/buttons.css">
    <link rel="stylesheet" href="../static/css/checkboxes.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">

    {# Fontawesome icons #}
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/brands.css" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/solid.css" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/fontawesome.css" rel="stylesheet"/>

    {# Favicon #}
    <link rel="shortcut icon" href="../static/favicon.ico">

    {# Magnific popup jquery plugin #}
    <script type="text/javascript" src="../static/js/jquery.1.7.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-magnific-popup.min.js"></script>

    {# FancyBox image gallery #}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>
<body>
<header style="border-bottom: none">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">

        <span class="title" id="fixedHeader">
            <h1>
                <i id="load-icon" class="fas fa-sync"></i>
                Web Categories Annotator
            </h1>
            <span class="logout-button">
                    {% if not current_user.is_anonymous %}
                        <div class="btn-container">
                            <div class="logout-button">{{ current_user.username }}</div>
                            <form action="{{ url_for('logout') }}">
                                <input class="btn-green logout-button" type="submit" value="Logout"/>
                            </form>
                        </div>
                    {% else %}
                        <div class="btn-container">
                            <form action="{{ url_for('login') }}">
                                <input class="btn-green logout-button" type="submit" value="Log in"/>
                            </form>
                        </div>
                    {% endif %}
                </span>
        </span>
        </div>
    </div>
</header>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="subtitle">
                    <div>
                        {% if messages %}
                            {% for message in messages %}
                                <p style="margin: 0">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}

<div id="content-wrap">
{% block content %}
{% endblock %}
</div>
<footer>
    <div class="social-container">
        <div class='social'>
            <div>
                <a id="Button1" target="_blank" href="https://github.com/1ncend1ary/wca">
                    <i class="fab fa-github icon-fixed-width"></i>
                </a><br>
            </div>
        </div>
    </div>
</footer>

<script>
    window.addEventListener('load', function () {
        document.getElementById('load-icon').style.display = 'none';
    })
</script>
</body>
</html>
