<body>
<header>
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="title overflow" id="fixedHeader">Web Categories Annotator</h1>
        </div>

    </div>

{#    <strong>#}
{#        <nav>#}
{#            <ul class="menu">#}
{#                <li><a href="{{ url_for('index') }}">Index</a></li>#}
{#                <li><a href="{{ url_for('contacts') }}">Contacts</a></li>#}
{#            </ul>#}
{#        </nav>#}
{#    </strong>#}
</header>
<!--<hr>-->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

<!--<script type="text/javascript">-->
<!--    window.onscroll = function() {myFunction()};-->

<!--    var header = document.getElementById("fixedHeader");-->
<!--    var sticky = header.offsetTop;-->

<!--    function myFunction() {-->
<!--        if (window.pageYOffset > sticky) {-->
<!--            header.classList.add("sticky");-->
<!--        } else {-->
<!--            header.classList.remove("sticky");-->
<!--        }-->
<!--    }-->
<!--</script>-->


<footer>
    <div class="text-center">
        <a class="git" href="https://github.com/1ncend1ary/wca">git project</a>
    </div>
</footer>

</body>
</html>
