<body>
<header>
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="title overflow">WEB CATEGORIES ANNOTATOR</h1>
        </div>

    </div>

{#    <strong>#}
{#        <nav>#}
{#            <ul class="menu">#}
{#                <li><a href="{{ url_for('index') }}">Index</a></li>#}
{#                <li><a href="{{ url_for('contacts') }}">Contacts</a></li>#}
{#            </ul>#}
{#        </nav>#}
{#    </strong>#}
</header>
<!--<hr>-->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

<footer>
    <div class="text-center">
        <a class="git" href="https://github.com/1ncend1ary/wca">
            Git Project
        </a>
    </div>
</footer>

</body>
</html>
