:root {
    --general-space: 1.7rem;
    --black: #262626;
    --font-color: #FEFFFF;
    --main-elements-color: #5A86E6;
    --main-element-border-color: #324A80;
    --bg-grey-color: #f7f7f7;
    --shadow-color: rgba(0, 0, 0, 0.25);
    --title-bg-color: #3b5998;
    --title-border-color: rgb(39, 79, 132);
    /*--temp: rgb(192, 225, 203);*/
}

html {
    overflow: auto;
    font-style: normal;
    vertical-align: middle;
    letter-spacing: 0;
    text-rendering: geometricPrecision;
    font-family: 'Clarkson', Helvetica, sans-serif;
}

body {
    margin: 0;
    color: var(--font-color);
    background-color: white;
    overflow: hidden;
    white-space: nowrap;
}

header {
    background: white;
    border-bottom: 1px solid var(--shadow-color);
}

main {
    padding: var(--general-space) 0;
    background: whitesmoke;
    border-top: 1px solid var(--shadow-color);
}

footer {
    border-top: 1px solid var(--shadow-color);
    background: white;
    margin: auto;
    padding: 2rem;
}

.col-lg-12 {
    height: max-content;
}

.scrollable {
    max-height: 65rem;
    overflow: auto;
}

.title, .subtitle-box {
    margin: var(--general-space) auto;
    background: var(--title-bg-color);
    display: flex;
    /*align-items: center;*/
}

h2 {
    margin: 0.5em 0;
}

.title {
    padding: 3rem;
}

.subtitle-box {
    margin: 0 auto 15px auto;
    padding: var(--general-space) 20px;
    flex-wrap: wrap;
    height: max-content;
}

.subtitle-box h2, .title {
    overflow-x: auto;
    overflow-y: hidden;
}

.left, .right {
    margin-bottom: var(--general-space);
}

.left .subtitle-box h2, .right .subtitle-box h2 {
    float: left;
    padding-right: 10px;
    width: 80%;
}

.left .category-name {
    color: var(--font-color);
    font-weight: bold;
}

.left .line {
    float: left;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.left .square-4 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 33.33333333%;
}

.left .square-4:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.left .square-4 a .image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0.2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.checkbox-list {
    color: var(--black);
}

footer a {
    color: #3b5998;
}

#fixedHeader {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
}

#fixedHeader.default {
    position: fixed;
    top: -20px;
    padding-left: 6rem;
    background: var(--title-bg-color);
    -webkit-box-shadow: 0 2px 2px var(--title-border-color);
}
