name: telegram message
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: send custom message with args
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        args: User ${{ github.actor }} triggered the ${{ github.event_name }} event in ${{ github.repository }}. [Link is https://github.com/1ncend1ary/wca/actions/runs/${{ github.run_id }}]
